<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

<h2>Add new Guest<h2>

    <form action="/" method="POST">
        <input type="text" placeholder="First Name" name="name">
        <input type="text" placeholder="Surname" name="surname">
        <br />
        <button type="submit">Add</button>
        <button><a href="/show">Guest list</a></button>
    </form>

</body>
</html>
